<div class="row">
  <div class="col-xs">
     <img src="{{recipe.imagePath}}" alt="{{recipe.description}}" height=200 width=250>
  </div>
</div>
<div class="row">
    <div class="col-xs">
      <h1 class="display-3"> {{recipe.name}} </h1>
    </div>
  </div>
   <div class="row">
     <div class="col-xs">
       
      <div class="dropdown" customdropdown>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Shopping List</a>
          <a class="dropdown-item" href="#">Edit Recipe</a>
          <a class="dropdown-item" href="#">Delete Recipe</a>
        </div>
      </div>

     </div>
   </div>
    <div class="row">
        <div class="col-xs">
          <h3 > {{ recipe.description }} </h3>
        </div>
      </div>
      <div class="row">
          <div class="col-xs">
            <h3> Ingredients </h3>
          </div>
        </div>