<div class="row">
  <div class="col-xs">
     <img src="https://i.pinimg.com/736x/ca/cf/e6/cacfe64e10475da2450816b3aee627c4--cola-song-inna.jpg" alt="inna" class="img-fluid rounded mx-auto d-block" height=200 width=200 >
  </div>
</div>
<div class="row">
    <div class="col-xs">
      <h1 class="display-3"> Recipe Name</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-xs">
          <div class="btn-group">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage List
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>
      </div>
    </div>
    <div class="row">
        <div class="col-xs">
          <h3> Description </h3>
        </div>
      </div>
      <div class="row">
          <div class="col-xs">
            <h3> Ingredients </h3>
          </div>
        </div>