<div class="container-fluid">
<div class="row"><div class="col-xs-12">
    <button class="btn btn-success"> New Recipe</button><hr>
</div></div>
<div class="row mx-3rs">
    <div class="col-xs-12">
        <a href="#" class="list-group-item" *ngFor="let recipe of recipes">
            <div class="row">
              <div class="col-auto">
                   <h4 class="list-group-item-heading"> {{recipe.name}}</h4>
                   <p class="list-group-item-text"> {{recipe.description}} </p>
              </div>
              <div class="col-auto">
                   <span ><img [src]="recipe.imagePath" width="100" alt="gj"
                   class="img-responsive img-thumbnail"
                   style="max-height: 50px"></span>
              </div>
          </div>
          </a>
        
    
    </div>
</div>

</div>

<div> Test</div>