<div class="row mx-4">
  <div class="col-xs-12">
    <form>
      <div class="form-group">
      <div class="row">
        <div class="col-sm-5">
          <label for="name"> Name </label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount"> Amount </label>
          <input type="text" class="form-control" id="amount">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success  mx-1"> Add </button>
          <button type="button" class="btn btn-danger mx-1"> Delete </button>
          <button type="button" class="btn btn-primary mx-1"> Clear </button>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>